body {
    margin: 0;
    font-size: 16px;
        
}

.container {
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
}


/* landing page header be to the left and the list of navigation links should be to the right without any bullet points */
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul { /* navigation links*/
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
    color: #2D3748;
}

header h1 { /* header heading*/
    font-size: 18px;
    color: #2D3748;
}

/* The Hero Overview section should be layed out with the image to the left and the text to the right. */
.overview-hero {     /* Section with "Live your Healthiest Life Now" background format*/
    background-color: #E2E8F0;
    padding: 80px;
}

.overview-hero-text h2 {  
    font-size: 36px;
    margin-bottom: 20px;
    color: #2D3748;
}
.overview-hero .container {
    display: flex;
    align-items: center;
    gap: 60px;
}

.overview-hero-image {
    flex: 1;
}

.overview-hero-image img {
    width: 50%;
    height:50%;
    border-radius: 10px;
}

.overview-hero-text {
    flex: 1;
}

.overview-hero-text p {
    color: #4A5568;
}

/*Learn About" section layed out using CSS Grid into 3 columns. Each Card with an image with a heading and card body text below it.*/

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}



.card img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.card-body {
    padding: 20px;
}

